/*CSS resets*/
*{
	margin : 0;
	padding : 0;
	box-sizing: boarder box;
}


body	{

	background-image: url(../images/bg.jpeg);
	background-position: center;
	background-size: cover;

	/*background-repeat: no-repeat; -->if the immage is repeating*/

	color : #f2f2f2; /* hex color */

	font-family: 'Varela', sans-serif; /*for font style in referemce to google fonts*/
}

/* --> end of body style*/

h1{
	font-size: 45px;
	background-color: #333; /*text background*/
	text-transform: uppercase; 
	margin-bottom: 15px;
	border-radius: 100px;
	/*letter-spacing: 3px; */
}
/* -->end of h1 styling*/

h2{
	color : yellow;
	text-transform: uppercase; 
	margin-bottom: 15px;
	letter-spacing: 5px;
	background-color: #333;
	padding: 10px; /*element spacing + background color*/
	/*margin: 10px; element spacing*/
	border-radius: 100px; /*round text background color*/
}
/* -->end of h2 styling*/

.bio{
	font-size: 18px;
	line-height: 1.75;
	/*background-color: #333;
	opacity: 0.5;*/
	background-color: rgba(51,51,51,0.5);
}
/* -->end of bio styling*/

#me{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: #45b5aa;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/* -->end of #me styling*/

.container{
	width: 560px;
	margin: 0 auto;
	text-align: center;
}
/* -->end of container styling*/
